@font-face {
    font-family: NeonLights;
    src: url('assets/fonts/Neon Light Font/Neon Light Font/neon-light.otf');
}

body {
    background-color: #0A0A0A;
}

.navbar {
    background-color: #333; /* Black background color */
    position: fixed; /* Make it  stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */

    
}

ul {
	text-transform:uppercase;
	text-align: left;
	display: inline;
	margin: 20px;
	padding: 0px 0px 0px 0px;
	list-style: none;
}

ul li {
	font: bold 12px/18px sans-serif;
	display: inline-block;
	margin-right: -5px;
	margin-top: 8px;
	position: relative;
	padding: 18px 20px;
	background: #222222;
	color:#c75f5f;
	cursor: pointer;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

ul li:hover {
	background: #d6c773;
}

.neon-red-header {
    color: #FF3131;
    font-family: NeonLights, sans-serif;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    font-size: 80px;
    text-shadow: 0 0 10px #ccc, 0 0 20px #ccc, 0 0 30px #e62323, 0 0 40px #e62323;
}